.layer-handle {
    width: 100%;
    background-color: #666;
    border-radius: 2px;
    cursor: move;
}
.layer-wrap {
    border: 1px solid #888;
    border-radius: 2px;
    margin: 10px auto;
}
.not-transparent {
    background-color: #333;
}
.layer-inside-wrap {
    padding: 10px;
}
.dataLayersDiv, .atlasButtonsDiv {
    padding-right: 5px;
    margin-right: 15px;
}
html, body, #map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
#map {
    height: 90%;
}
#metadata {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}
#metadata, .olPopup {
    background-color: #333 !important;
    color: white;
    font-size: 0.8em;
}
.olPopup {
    border-radius: 6px;
}
#metadata dl {
    margin: 0;
    padding: 0;
}
#metadata h1 {
    margin: 0;
    padding: 0;
}
.dataLayersDiv {
    max-height: 500px;
    overflow-y: auto;
}
.layersDiv {
    opacity: 1.0 !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.atlasLbl {
    margin: 3px 0 3px 3px;
}
.atlasButtonsDiv {
    padding-left: 10px;
}
